{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard Attendance{% endblock %}

{% block content %}

<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>STAFF UPLOADED  RECORDS FOR MASS ATTENDANCE  </h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <!-- Table to display uploaded records -->
                         <div class="container mt-5">
        <h2 class="text-center">Uploaded Records for staff </h2>

        <!-- Error Message Display -->
        {% if error %}
            <div class="alert alert-danger text-center" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <!-- Student Records Table -->
                      {% if veritas_staff %}
<div class="table-responsive">
    <table class="table w-100 table-bordered table-striped table-hover" id="tableExport">
        <thead class="thead-dark">
            <tr>
                <th>SN</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Staff ID</th>
                <th>RFID</th>
                <th>Gender</th>
                <th>Title</th>
                <th>Department</th>
                <th>Faculty</th>
                <th> wk1  score</th>
                <th> wk2 score</th>
                <th> wk3 score</th>
                <th> wk4 score</th>
                <th> wk5 score</th>
                <th> wk6 score</th>
                <th> wk7 score</th>
                <th> wk8 score</th>
                <th> wk9 score</th>
                <th> wk10 score</th>
                <th> wk11 score</th>
                <th> wk12 score</th>
                <th>Total Attendance Score</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in veritas_staff %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ staff.staff_fname }}</td>
                    <td>{{ staff.staff_lname }}</td>
                    <td>{{ staff.staff_id }}</td>
                    <td>{{ staff.staff_rfid }}</td>
                    <td>{{ staff.staff_gender }}</td>
                    <td>{{ staff.staff_title }}</td>
                    <td>{{ staff.staff_department }}</td>
                    <td>{{ staff.staff_faculty }}</td>
                    <td>{{ staff.week_1 }}</td>
                    <td>{{ staff.week_2 }}</td>
                    <td>{{ staff.week_3 }}</td>
                    <td>{{ staff.week_4 }}</td>
                    <td>{{ staff.week_5 }}</td>
                    <td>{{ staff.week_6 }}</td>
                    <td>{{ staff.week_7 }}</td>
                    <td>{{ staff.week_8 }}</td>
                    <td>{{ staff.week_9}}</td>
                    <td>{{ staff.week_10}}</td>
                    <td>{{ staff.week_11 }}</td>
                    <td>{{ staff.week_12}}</td>


                    <td>{{ staff.staff_total_attendance_score }}</td>
                    <td>{{ staff.staff_remarks }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="alert alert-info text-center my-3" role="alert">
    <strong>No staff records available.</strong>
</div>
{% endif %}

    </div>

    </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="settingSidebar">
        <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
        </a>
        <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
                <div class="setting-panel-header">Setting Panel
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Select Layout</h6>
                    <div class="selectgroup layout-color w-50">
                        <label class="selectgroup-item">
                            <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout"
                                checked>
                            <span class="selectgroup-button">Light</span>
                        </label>
                        <label class="selectgroup-item">
                            <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                            <span class="selectgroup-button">Dark</span>
                        </label>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Sidebar Color</h6>
                    <div class="selectgroup selectgroup-pills sidebar-color">
                        <label class="selectgroup-item">
                            <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                            <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                        </label>
                        <label class="selectgroup-item">
                            <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar"
                                checked>
                            <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                        </label>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Color Theme</h6>
                    <div class="theme-setting-options">
                        <ul class="choose-theme list-unstyled mb-0">
                            <li title="white" class="active">
                                <div class="white"></div>
                            </li>
                            <li title="cyan">
                                <div class="cyan"></div>
                            </li>
                            <li title="black">
                                <div class="black"></div>
                            </li>
                            <li title="purple">
                                <div class="purple"></div>
                            </li>
                            <li title="orange">
                                <div class="orange"></div>
                            </li>
                            <li title="green">
                                <div class="green"></div>
                            </li>
                            <li title="red">
                                <div class="red"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <div class="theme-setting-options">
                        <label class="m-b-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                id="mini_sidebar_setting">
                            <span class="custom-switch-indicator"></span>
                            <span class="control-label p-l-10">Mini Sidebar</span>
                        </label>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <div class="theme-setting-options">
                        <label class="m-b-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                id="sticky_header_setting">
                            <span class="custom-switch-indicator"></span>
                            <span class="control-label p-l-10">Sticky Header</span>
                        </label>
                    </div>
                </div>
                <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                    <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                        <i class="fas fa-undo"></i> Restore Default
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}