{% extends "base.html" %}
{% load static %}
{% block title %}QA student Attendance

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body text-center">

                    <div class="card-body">
                        <img class="img-fluid" src="{% static 'assets/img/logo.png' %}" width="100px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4>VERITAS UNIVERSITY ABUJA</h4>
                    <h4>STUDENT ATTENDANCE REPORT</h4>
                    <h4>DATE: {{ row.Coursetitle }}</h4>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4>DEPARTMENT: {{ department }}</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <script>
        function loadCourses() {
            const department = document.getElementById('department').value;
            const courseSelect = document.getElementById('course');
            courseSelect.innerHTML = '';

            fetch(`/get-courses/${department}/`)
                .then(response => response.json())
                .then(data => {
                    data.courses.forEach(course => {
                        const option = document.createElement('option');
                        option.value = course;
                        option.text = course;
                        courseSelect.add(option);
                    });
                });
        }
    </script>
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4> Quality Assurance Attendance Generator </h4>
                                </div>
                            <div class="card-body">
                                <div class="jumbotron text-center">
                                    <h2>Attendance Generator</h2>
                                    <p class="lead font-medium mt-3">
                                        This placeholder text provides a concise overview of what an attendance system might offer, focusing on automation,
                                        efficiency, and real-time capabilities. It also highlights the benefits of using such a system, such as
                                        improved accuracy, reduced administrative burden, and enhanced student engagement.
                                        
                                    </p>
                                    <a class="btn btn-primary mt-3" href=""
                                    data-toggle="modal" data-target="#exampleModal" target="_blank"
                                        role="button">generate</a>
                                </div>
                            </div>
            
                            </div>
                        </div>
                <div class="col-12 col-md-6 col-lg-4">
                   
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4></h4>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid" src="{% static 'assets/img/logo.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>STUDENT ATTENDANCE records</h4>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                            <div class="row">
                                {% for message in messages %}
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            {{ message }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                    
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                    <thead>
                                        
                                       
                                        <tr>

                                            <th>SN</th>
                                            <th>MACH ID</th>
                                            <th>STUDENT NAME</th>
                                            <th>MATRIC. NO.</th>
                                            <th>COURSE TITLE</th>
                                            <th>COURSE CODE</th>
                                            <th>LEVEL</th> <!-- Assuming 'level' should be displayed -->
                                            <th>ATTENDANCE SCORE</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in filtered_data %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ row.ID }}</td>
                                            <td>{{ row.Name }}</td>
                                            <!-- Uncomment if 'TIME' data should be displayed -->
                                            <!-- <td>{{ row.TIME }}</td> -->
                                            <td>{{ row.Userprofile }}</td>
                                            <td>{{ row.Coursetitle }}</td>
                                            <td>{{ row.CourseCode }}</td>
                                            <td>{{ row.Level }}</td>
                                            <td> 10 </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <!-- START ATTENDANCE GEN -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">QA attendance Gen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <form action="{% url 'process_selection' %}" method="post">
                        {% csrf_token %}
                        <label for="department">Department:</label>
                        <div class="form-group">
                            <select id="department" name="department" class="form-control" onchange="loadCourses()">
                                <option value="">Select a department</option>
                                <option value="Political Science and Diplomacy">Political Science and Diplomacy</option>
                                <option value="Economics">Economics</option>
                                <option value="Industrial Chemistry">Industrial Chemistry</option>
                                <option value="Physics with Electronics">Physics with Electronics</option>
                                <option value="Applied Microbiology">Applied Microbiology</option>
                                <option value="Philosophy">Philosophy</option>
                                <option value="Computer Science">Computer Science</option>
                                <option value="Mass Communication">Mass Communication</option>
                                <option value="English and Literary Studies">English and Literary Studies</option>
                                <option value="History and International Relations">History and International Relations</option>
                                <option value="Marketing and Advertising">Marketing and Advertising</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Theology">Theology</option>
                                <option value="English Education">English Education</option>
                                <option value="Economics Education">Economics Education</option>
                                <option value="Chemistry Education">Chemistry Education</option>
                                <option value="Physics Education">Physics Education</option>
                                <option value="Educational Management">Educational Management</option>
                                <option value="Business Administration">Business Administration</option>
                                <option value="Entrepreneurial Studies">Entrepreneurial Studies</option>
                                <option value="Peace And Conflict Studies">Peace And Conflict Studies</option>
                                <option value="B.Eng Computer Engineering">B.Eng Computer Engineering</option>
                                <option value="B.Eng Electrical and Electronic Engineering">B.Eng Electrical and Electronic Engineering</option>
                                <option value="Law">Law</option>
                                <option value="SOFTWARE ENGINEERING">SOFTWARE ENGINEERING</option>
                                <option value="Nursing">Nursing</option>
                                <option value="Pharmacy">Pharmacy</option>
                                <option value="Medical Laboratory Sciences">Medical Laboratory Sciences</option>
                                <option value="Sacred Theology">Sacred Theology</option>
                                <option value="Computer science Education">Computer science Education</option>
                                <option value="Medicine and Surgery">Medicine and Surgery</option>
                                <option value="Religious Education">Religious Education</option>
                                <option value="Public Administration">Public Administration</option>
                                <!-- Add more departments as needed -->
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="course">Course:</label>
                            <select  class="form-control" id="course" name="course_code">
                                <option value="">Select a course</option>
                            </select>

                        </div>
                        
                    <div class="form-group">
                        <label class="font-medium m-b-10">Select Level</label>
                        <select class="form-control" id="Level" name="Level">
                            <option value="100">100 Level</option>
                            <option value="200">200 Level</option>
                            <option value="300">300 Level</option>
                            <option value="400">400 Level</option>
                            <option value="500">500 Level</option>
                            <option value="600">600 Level</option>
                            <!-- Add more levels as needed -->
                        </select>
                    </div>
                    
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                
                </div>
    
            </div>
        </div>
    </div>
    <!-- END ATTENDANCE GEN -->
    <div class="settingSidebar">
        <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
        </a>
        <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
                <div class="setting-panel-header">Setting Panel
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Select Layout</h6>
                    <div class="selectgroup layout-color w-50">
                        <label class="selectgroup-item">
                            <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout"
                                checked>
                            <span class="selectgroup-button">Light</span>
                        </label>
                        <label class="selectgroup-item">
                            <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                            <span class="selectgroup-button">Dark</span>
                        </label>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Sidebar Color</h6>
                    <div class="selectgroup selectgroup-pills sidebar-color">
                        <label class="selectgroup-item">
                            <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                            <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                        </label>
                        <label class="selectgroup-item">
                            <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar"
                                checked>
                            <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                        </label>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Color Theme</h6>
                    <div class="theme-setting-options">
                        <ul class="choose-theme list-unstyled mb-0">
                            <li title="white" class="active">
                                <div class="white"></div>
                            </li>
                            <li title="cyan">
                                <div class="cyan"></div>
                            </li>
                            <li title="black">
                                <div class="black"></div>
                            </li>
                            <li title="purple">
                                <div class="purple"></div>
                            </li>
                            <li title="orange">
                                <div class="orange"></div>
                            </li>
                            <li title="green">
                                <div class="green"></div>
                            </li>
                            <li title="red">
                                <div class="red"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <div class="theme-setting-options">
                        <label class="m-b-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                id="mini_sidebar_setting">
                            <span class="custom-switch-indicator"></span>
                            <span class="control-label p-l-10">Mini Sidebar</span>
                        </label>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <div class="theme-setting-options">
                        <label class="m-b-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                id="sticky_header_setting">
                            <span class="custom-switch-indicator"></span>
                            <span class="control-label p-l-10">Sticky Header</span>
                        </label>
                    </div>
                </div>
                <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                    <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                        <i class="fas fa-undo"></i> Restore Default
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}